<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
</head>
<body>
<div class="container mt-5">
    <h2>Welcome, {{ user.username }}</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Age:</strong> {{ user.age }}</p>
            <p><strong>Weight:</strong> {{ user.weight }} kg</p>
            <p><strong>Height:</strong> {{ user.height }} cm</p>
        </div>
    </div>

    <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
</div>
</body>
</html>
